// Footer
footer{
	background-color: #202E3B;
	line-height: 80px;

	.logo{
		font-size: 24px;

	    display: inline-block;
    	float: left;

	    vertical-align: middle;
    	text-decoration: none;

	    color: #FFCD34;

	}

	img, span{
		vertical-align: middle;
		width: 46px;
		height: 35px;
	}

	nav{
		float: right;
		font-size: 17px;
		width: 80%;
		text-align: right;

		ul{

			li{
				display: inline-block;

				a{
					color: #fff;
					text-decoration: none;
					padding: 15px 20px;

					&:hover{
						color: #FFCD34;
					}
				}
			}
		}	
	}
}