// ABOVE FOOTER
.abovefooter{
	background-color: #202E3B;
	font-size: 24px;
	color: #FFCD34;

	.form-block{
		padding: 40px 0;
		overflow: hidden;
	}

	.button{
		font-weight: normal;
		width: 220px;
		height: 50px;
		line-height: 40px;
	}

	p{padding-bottom: 30px;}

	input{
		background-color: #202e3b;
		padding: 10px;
		color: #fff;
		font-size: 18px;
		outline: none;
		height: 50px;
		display: inline-block;
		width: 220px;
		margin-right: 20px;
		float: left;		
	}
}


// FOOTER
footer{
	background-color: #202E3B;
	line-height: 80px;

	.logo{
		font-size: 24px;

	    display: inline-block;
    	float: left;

	    vertical-align: middle;
    	text-decoration: none;

	    color: #FFCD34;

	}

	img, span{
		vertical-align: middle;
		width: 46px;
		height: 35px;
	}

	nav{
		float: right;
		font-size: 17px;
		width: 80%;
		text-align: right;

		ul{

			li{
				display: inline-block;

				a{
					color: #fff;
					text-decoration: none;
					padding: 15px 20px;

					&:hover{
						color: #FFCD34;
					}
				}
			}
		}	
	}
}
